html, body {
    display: flex;
    flex-direction: column;
    background-color:rgb(108, 177, 235);
    margin: 0;
    color:rgb(14, 2, 67);
    text-align: center;
    font-size: 20px;
    min-height: 100vh;
}

header {
    background-color: rgb(45, 105, 236);
    padding: 10px;
    height: 90px;
    display: flex;
    align-items: center;
}

header img {
    width: 90px;
    height: 90px;
    margin-left: 5px;
}

header div {
    margin-left: 10px;
    font-size: 36px;
    color: rgb(14, 2, 67);
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: 5px;
}

nav {
    border: 3px solid rgb(14, 2, 67);
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    width: auto;
}

nav a {
    margin: 10px;
    color: rgb(14, 2, 67);
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

main h1 {
    order:-3;
}

.ul_div {
    border: 3px solid rgb(14, 2, 67);
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    list-style-position: inside;
    margin-bottom: 10px;
    order: -1;
}

ul img {
    width: 400px;
}

ul li {
    margin: 10px;
}

.table_div {
    border: 3px solid rgb(14, 2, 67);
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    order: -2;
}

table {
    border: 3px solid rgb(14, 2, 67);
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: rgb(14, 2, 67);
    color: rgb(108, 177, 235);
    border: 3px solid rgb(14, 2, 67);
}

td {
    border: 3px solid rgb(14, 2, 67);
}

tr:nth-child(even) {
    background-color: rgb(189, 217, 240);
}

tr:nth-child(odd) {
    background-color: rgb(91, 206, 241);
}

form {
    width: 100%;
    border: 3px solid rgb(14, 2, 67);
    padding-bottom: 20px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

#anchor {
    font-size: 40px;
    font-weight: bold;
}

footer {
    background-color: rgb(45, 105, 236);
    padding: 10px;
    height: 90px;
    display: flex;
    align-items: flex-start;
}

footer div {
    font-size: 30px;
    font-weight: bold;
    color: rgb(14, 2, 67);
    margin-left: 30px;
    margin-top: 30px;
}

@media screen and (min-width: 800px) {
    nav {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .ul_div, .table_div, form {
        width: 500px;
        order: 0;
    }
}